@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap');
body {
    background: hwb(0 14% 86%);
    font-family: 'Josefin Sans', sans-serif;
    color: aliceblue;
    margin: 0px;
}

.menu {
    background: #202020;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 100px;
}

.menuItems {
    display: flex;
    padding: 2px;
    gap: 30px;
    margin-right: 100px;
    align-items: center;
}

.menuItems a:hover {
    color: #ADA64C;
    text-decoration: underline;
    font-size: 15px;
}

.menuItems a:active {
    color: #cec75c;
}

.botonDate {
    font-family: 'Josefin Sans', sans-serif;
    color: aliceblue;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 13px;
    gap: 28px;
    width: 133px;
    height: 40px;
    background: #00C2FF;
    border-radius: 6px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

nav li {
    display: inline;
}

nav a {
    text-transform: uppercase;
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0 0 15px;
}

#textoBienvenida {
    font-size: 30px;
    display: flex;
    padding-inline: 20px;
    width: 400px;
}

.mensajeBienvenida {
    display: flex;
    flex-flow: row wrap;
    margin-top: 110px;
    margin-bottom: 50px;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.productos {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    padding: 0px;
    margin: 0 auto;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.tarjetaProducto {
    font-family: 'Ravi Prakash', cursive;
    width: 302px;
    font-size: 45px;
    color: #202020;
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    gap: 30px;
    background: #F1F8FE;
    border: 5px solid #ADA64C;
    border-radius: 20px;
}

.tarjetaProducto h2 {
    font-size: 45px;
}

.tarjetaMensaje {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    text-align: center;
    padding-block: 30px;
    padding-inline: 15px;
}

.tarjetaProducto:hover {
    /* Azul cielo */
    background: #F1F8FE;
    /* acentos */
    border: 5px solid #000000;
    /* hover tarjeta */
    box-shadow: -10px 10px 18px rgba(255, 255, 255, 0.56);
    border-radius: 20px;
}

.tarjetaProducto:active {
    border-color: #fdf258;
}

footer {
    text-align: center;
    background: url(/Footer\ back.png);
    padding-bottom: 100PX;
}

.imgFooter {
    margin-top: 100px;
}

.Copyrigth {
    font-size: 13PX;
    margin-top: 30px;
}


/* Formulario

.form{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background:#F1F8FE;
    border-radius:8px;
    box-shadow:0 0 40px -10px rgb(39, 39, 39);
    margin:50px auto;
    padding:50px 20px;
    max-width:calc(50vw - 80px);
    box-sizing:border-box;
    font-family:'Josefin Sans', sans-serif;
    position:relative
}
.contact{
    color:#78788c;
    border-bottom:3px solid #78788c
    
}

input{
    width: 100%;
    padding:10px;
    box-sizing:border-box;
    background:none;outline:none;
    resize:none;
    border:0;
    font-family:'Josefin Sans', sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
    padding-block: 20px;

}

#mensaje{
    width: 100%;
    padding:10px;
    box-sizing:border-box;
    background:none;outline:none;
    resize:none;
    border:0;
    font-family:'Josefin Sans', sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}

input:focus{
    border-bottom:2px solid #78788c
}


button{

    float:right;
    padding:8px 12px;
    font-family:'Josefin Sans', sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
    margin-top: 20px;
}
button:hover{
    background:#78788c;
    color:#fff
}
.infoadd{
    content:'Hi';
    position:absolute;
    bottom:-15px;right:-20px;
    background:#50505a;
    color:#fff;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000
}
span{
    margin:0 5px 0 15px
}

.imagenContacto{
    margin: auto;
    padding-block: 20px;
    padding-inline: 20px;
}
.espacios{
    width:100% ;
}

.formulario{
    display: flex;
    justify-content: center;
}
.question{
    
    color: #78788c;
    
}



.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
Formulario*/

.formulario {
    margin-block: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form label,
form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 70%;
    border-radius: 5px;
}

.checkbox {
    margin: 20px 0;
}

.buttonSend {
    padding: 8px 12px;
    font-family: 'Josefin Sans', sans-serif;
    border: 2px solid #78788c;
    background: rgb(229, 227, 227);
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
    margin-top: 20px;
    margin-right: 137px;
    border-radius: 5px;
    width: 150px;
}

.buttonSend:hover {
    background: #78788c;
    color: #fff;
}

::placeholder {
    color: #b3b3b5;
    font-family: 'Josefin Sans', sans-serif;
    ;
}

.perciana {
    float: left;
    padding: 8px 12px;
    font-family: 'Josefin Sans', sans-serif;
    border: 2px solid #78788c;
    background: rgb(229, 227, 227);
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
    margin-top: 5px;
    border-radius: 5px;
}

main {
    width: 950px;
    margin: auto;
}

.table {
    margin: 40px 40px;
}

thead {
    background-color: #ADA64C;
    color: #ffffff;
    font-weight: bold;
}

td,
th {
    border: 1px solid #ADA64C;
    padding: 8px 15px;
}


/*seccion de contacto titulo*/

.titulo {
    font-size: 50px;
}

.contenidoDiferenciales {
    display: flex;
}

.sec_titulo {
    margin-bottom: 50px;
}

@media screen and ( max-width:480px) {
    .menu,
    .listaDiferenciales,
    .imagenDiferenciales {
        width: auto;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .contenidoDiferenciales {
        justify-content: center;
    }
}